@import "../../../../assets/scss/media";

.chart {
  margin-top: 4rem;
  height: 49rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.9rem 0.9rem rgba($color: #000000, $alpha: 0.2),
    -0.3rem -0.5rem 0.9rem rgba($color: #000000, $alpha: 0.2);
  padding: 2rem;

  @include xl {
    height: 56rem;
  }
  @include md-up {
    height: 68rem;
  }
  @include lg-up {
    height: 56rem;
  }
  @include sm {
    height: 30rem;
    padding: 2rem 0rem;
  }

  &--canvas {
    padding-top: 2rem;
    text-align: center;
    height: 80%;
    margin-top: auto;

    @include sm {
      padding-top: 1.4rem;
    }
  }
}
.title {
  font-size: 2.4rem;
  color: #747474;
  display: block;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  margin-top: 1.4rem;

  @include md-down {
    font-size: 1.6rem;
  }
  @include sm {
    font-size: 1.2rem;
  }
}
