<div class="chart">
  <app-election-type
    class="select--el"
    (selectedElection)="onSelected($event)"
  ></app-election-type>
  <div class="chart--canvas">
    <span class="title"
      >{{ electionTitle | titlecase | slice: 0:9 }} Election <br />
      Standings</span
    >
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [colors]="colors"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
</div>
