.container {
  width: 90%;
  margin: auto;
}
.card {
  min-width: 30rem;
  background-color: #002a46;
  background: linear-gradient(to bottom right, #002a46, #013253, #002a46);
  color: #f3f3f3;
  height: 10rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.9rem 0.9rem rgba($color: #000000, $alpha: 0.2);

  &--body {
    padding: 1rem 2rem;
    height: 100%;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;

    &__title {
      font-size: 1.4rem;
      color: #0792ef;
    }

    &__desc {
      font-size: 4rem;
      align-self: center;
    }
  }
}
