<h1 mat-dialog-title>Add Room</h1>
<form class="form" [formGroup]="addRoomForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Roomname</mat-label>
      <input
        matInput
        name="roomname"
        formControlName="roomname"
        placeholder="Ex. prezTalk"
        autocomplete="off"
      />
      <!-- <mat-error *ngIf="!chatRoomForm.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
      <!-- <mat-error *ngIf="roomname.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
    <button mat-button type="submit">Add</button>
  </div>
</form>
