<h2 mat-dialog-title>User Agreement</h2>
<mat-dialog-content class="mat-typography">
  <ul class="agreement agreement-terms">
    <span class="agreement--sub-heading">
      By entering and participating in OVS chat service, you agree to the
      following terms and conditions of participation. These terms and
      conditions are contractually binding upon you and you agree to each of
      them.
    </span>

    <li class="agreement-term">
      You enter and participate in the Chat Room/s and gain access to the
      materials at your own risks.
    </li>

    <li class="agreement-term">
      We do not monitor or screen any communications in the Chat Room/s and we
      are not responsible for any material posted and we do not assume the
      responsibility to do so.
    </li>
    <li class="agreement-term">
      We do not promise any warranties as to the truth or accuracy of any
      information obtained through Chat Room/s, You agree and acknowledge that
      you assume the risk of any actions you take in reliance upon the
      information that may be contained in the Chat Room/s.
    </li>
    <li class="agreement-term">
      You are fully responsible for your own statements or materials that you
      post in the Chat Room/s and any consequences.
    </li>
    <li class="agreement-term">
      Any opinions or views expressed by the Chat Room participants are their
      own.
    </li>
    <li class="agreement-term">
      As a participant in the Chat Room, you agree that we may remove any
      materials from the Chat Room/s for any reason, in our sole discretion, or
      for no reason at all. This includes materials that are disruptive,
      abusive, offensive, illegal, vulgar, pornographic, or any other material.
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onAgree()">
    Agree
  </button>
  <button mat-raised-button (click)="onDecline()" cdkFocusInitial>
    Decline
  </button>
</mat-dialog-actions>
