<div class="chat--box">
  <div class="chat--box__header">
    <span class="leave ripple" (click)="exitChatRoom()">
      <i class="arrow_back"></i>
      leave
    </span>
    <span class="ds__roomname">{{ roomname + " chat room" | titlecase }}</span>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div
    class="chat--box__content"
    #chatContent
    (scroll)="onScroll()"
    *ngIf="!isLoading"
  >
    <ng-template ngFor let-chat [ngForOf]="chats">
      <blockquote
        *ngIf="chat.type === 'message'"
        [ngClass]="{
          'chat--bubble__me': chat.nickname === nickname,
          'chat--bubble__others': chat.nickname !== nickname
        }"
      >
        <span class="timestamp">{{ chat.date }}</span>
        <p class="chat--bubble-message">
          {{ chat.message }}
        </p>
        <cite>
          {{ chat.nickname === nickname ? "me" : chat.nickname }}
        </cite>
      </blockquote>
      <div class="status" *ngIf="chat.type !== 'message'">
        {{ chat.message }}
        <span class="timestamp">{{ chat.date }}</span>
      </div>
    </ng-template>
  </div>
  <div class="chat--box__message-box">
    <form [formGroup]="messageForm" (ngSubmit)="onSend()">
      <textarea formControlName="message"> </textarea>
      <span
        class="emoji-picker"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
        (emojiPickerSelect)="handleSelection($event)"
        >😄</span
      >
      <button class="chat--btn container" type="submit">
        <svg enable-background="new 0 0 24 24" viewBox="0 0 24 24">
          <g>
            <path
              d="m8.75 17.612v4.638c0 .324.208.611.516.713.077.025.156.037.234.037.234 0 .46-.11.604-.306l2.713-3.692z"
              data-original="#000000"
              class="active-path"
              data-old_color="#000000"
              fill="#668BCB"
            />
            <path
              d="m23.685.139c-.23-.163-.532-.185-.782-.054l-22.5 11.75c-.266.139-.423.423-.401.722.023.3.222.556.505.653l6.255 2.138 13.321-11.39-10.308 12.419 10.483 3.583c.078.026.16.04.242.04.136 0 .271-.037.39-.109.19-.116.319-.311.352-.53l2.75-18.5c.041-.28-.077-.558-.307-.722z"
              data-original="#000000"
              class="active-path"
              data-old_color="#000000"
              fill="#668BCB"
            />
          </g>
        </svg>
      </button>
    </form>
  </div>
</div>
