<header>
  <nav class="nav">
    <img class="nav--logo" src="./assets/img/logo@2x.png" alt="ovs-logo" />

    <ul class="nav--links">
      <li class="nav--links-item">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >dashboard</a
        >
      </li>

      <li class="nav--links-item">
        <a routerLink="/chat" routerLinkActive="active">Chat</a>
      </li>
      <li class="nav--links-item">
        <a href="#">Report Issues</a>
      </li>
    </ul>
  </nav>
</header>
