@import "../../../../assets/scss/media";

.mobi-nav {
  display: none;
  position: fixed;
  bottom: 0;
  height: 5.5rem;
  width: 100%;
  box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.2);
  background-color: #fff;
  overflow-x: auto;
  justify-content: space-around;
  z-index: 10;

  @include md-down {
    display: flex;
  }

  &__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.3rem;
    color: darken($color: #f3f3f3, $amount: 30);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;

    @include xsm {
      font-size: 1rem;
    }

    &:hover,
    :active {
      color: darken($color: #f3f3f3, $amount: 50);
    }
  }
}
