<nav class="mobi-nav">
  <a routerLink="/" class="mobi-nav__link">
    <i class="icon_easel_alt mobi-nav__icons active"></i>
    <span class="mobi-nav__text">Dashboard</span>
  </a>
  <a href="#" class="mobi-nav__link">
    <i class="icon_group mobi-nav__icons"></i>
    <span class="mobi-nav__text">Profiles</span>
  </a>
  <a routerLink="/chat" class="mobi-nav__link">
    <i class="icon_chat mobi-nav__icons"></i>
    <span class="mobi-nav__text">Chat</span>
  </a>
  <a href="#" class="mobi-nav__link">
    <i class="icon_error-circle mobi-nav__icons"></i>
    <span class="mobi-nav__text">Report Issue</span>
  </a>
</nav>
