.chart {
  margin-top: 5%;
  height: 69%;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.9rem 0.9rem rgba($color: #000000, $alpha: 0.2),
    -0.3rem -0.5rem 0.9rem rgba($color: #000000, $alpha: 0.2);
  padding: 2rem;

  &--canvas {
    padding-top: 4rem;
    text-align: center;

    & .title {
      font-size: 2.4rem;
      color: #06beb6;
      display: block;
      margin-bottom: 2rem;
    }
  }
}
