<div class="login--card">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="login--card__form"
  >
    <div class="login--card__form-input">
      <input
        type="text"
        name="nickname"
        formControlName="nickname"
        autocomplete="off"
      />
      <div
        *ngIf="
          !loginForm.get('nickname').valid && loginForm.get('nickname').touched
        "
        class="invalid"
      >
        <span *ngIf="loginForm.get('nickname').errors['required']"
          >nickname can't be empty.</span
        >
        <span *ngIf="loginForm.get('nickname').errors['nicknameIsTaken']"
          >nickname is taken.</span
        >
        <span *ngIf="loginForm.get('nickname').errors['minLenght']"
          >Nickname must have at least 4 characters.</span
        >
      </div>
      <div class="login--card__form-input--link">
        To login in you must agree to the <b>User Agreement Terms</b> found
        <a (click)="openUserAgreement()">here</a>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="disabled"
    >
      login
    </button>
  </form>
</div>
