@import "../../../../assets/scss/media";

.invalid {
  color: #fd642d;
  font-style: italic;
}
.login--card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.95rem rgba($color: #000000, $alpha: 0.2),
    -0.2rem -0.2rem 0.95rem rgba($color: #000000, $alpha: 0.2);
  width: 40%;
  height: 48rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  @include md-down {
    width: 88%;
  }

  @include sm {
    width: 96%;
  }

  &__form {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.3rem;
      color: #656379;

      & input {
        border: 0;
        width: 100%;
        margin-bottom: 0.4rem;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.15rem;
        color: #656379;

        @include md-down {
          width: 80%;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #656379;
          font-size: 1.4rem;
        }
      }
      &--link {
        font-size: 1.3rem;
        width: 100%;
        margin: 1rem 0;

        @include md-down {
          width: 80%;
        }
        @include sm {
          font-size: 1.2rem;
        }
        & a {
          color: #1997f0;
          text-decoration: none;
          font-style: italic;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
}
