@import "../../../../assets/scss/media";

.note {
  width: 250px;
  font-size: 1.4rem;
  position: relative;

  @include md-down {
    width: 100%;
  }
  & .close {
    position: absolute;
    top: -2rem;
    right: -1rem;
    border: 0;
    outline: none;
    background-color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
