<div class="highlight">
  <div class="highlight--live">
    <div class="card">
      <div class="card--body">
        <div class="card--body__title">
          Live Sessions
        </div>
        <div class="card--body__desc">
          03
        </div>
      </div>
    </div>
  </div>
  <div class="highlight--votes">
    <div class="card">
      <div class="card--body">
        <div class="card--body__title">
          Total Votes
        </div>
        <div class="card--body__desc">
          234
        </div>
      </div>
    </div>
  </div>
</div>
