<div class="card total--votes-element">
  <div class="card--body">
    <div class="card--body__title">
      Highlights of:
      <select
        class="dropdown"
        name="type"
        #selection
        (input)="onSelect(selection.value)"
      >
        <option
          *ngFor="let election of elections"
          class="dropdown-item"
          [value]="election.key"
          >{{ election.electionType | uppercase | slice: 0:15 }}
        </option>
      </select>
    </div>
    <div class="card--body__desc">
      <div class="election--highlights">
        <div class="election--highlights-el time--left">
          <span class="leading">Time Left: </span>
          <div>
            <span class="icon_hourglass icon icon__mod-1"> </span>

            <countdown
              [class.finished]="finished"
              #cd
              (event)="handleEvent($event)"
              [config]="config"
            >
              $!d!:$!h!:$!m!:$!s!
            </countdown>
          </div>
        </div>
        <div class="election--highlights-el votes--count">
          <span class="leading">Total Votes: </span>
          <div>
            <span class="icon_like icon icon__mod-1"> </span>
            <span>{{ totalVotes }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
