<div class="voteboard">
  <div
    class="voteboard--box"
    [class.voteboard--box__verified_style]="verified"
    [class.voteboard--box__align]="!verified"
  >
    <div class="voteboard--box-desc">
      <div class="voteboard--box-desc__title">Voteboard</div>
      <div class="voteboard--box-desc__hint" *ngIf="!verified">
        To vote please verify your token below.
      </div>
    </div>

    <app-verify-token
      (codeVerified)="onVerified($event)"
      *ngIf="!verified"
    ></app-verify-token>
  </div>
  <app-ballot *ngIf="verified"></app-ballot>
</div>
