@import "assets/scss/media";
@import "assets/scss/elegant-font";
@import "assets/scss/base";
@import "assets/scss/animation";
@import "assets/scss/utils";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}
